body {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

* {
    transition: 200ms ease;
}

h3,
h2,
h1 {
    font-weight: 700;
    margin: 0;
}

.score-board {
    margin: 2% auto;
    padding: 5px;
    max-width: 50%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-box {
    padding: 5px 20px;
    background-color: white;
    color: hsl(229, 25%, 31%);
    text-align: center;
    border-radius: 10px;
}

.score-box p {
    color: hsl(229, 64%, 46%);
}

/* - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%) */

.circle-size-1 {
    cursor: pointer;
    position: relative;
    background-color: white;
    display: inline-block;
    width: 12.5rem;
    height: 12.5rem;
    border: 15px solid transparent;
    border-radius: 100%;
    box-shadow: inset 1px 5px hsl(225, 5%, 67%);
}

.circle-size-1:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.circle-size-2:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.circle-size-2 {
    position: relative;
    background-color: white;
    width: 18.75rem;
    height: 18.75rem;
    border: 15px solid;
    border-radius: 100%;
    box-shadow: inset 1px 5px hsl(225, 5%, 67%);
}

.dark-cir {
    position: relative;
    background-color: rgba(82, 80, 80, 0.309);
    width: 15.75rem;
    height: 15.75rem;
    border-radius: 100%;
}

.icon-img {
    position: absolute;
    left: 21%;
    top: 17%;
}

img {
    width: 7rem;
}

.icon-img-2 {
    position: absolute;
    left: 32%;
    top: 27%;
}

.paper-cir {
    border-color: hsl(230, 89%, 62%);
}

.scissor-cir {
    border-color: hsl(39, 89%, 49%);
}

.rock-cir {
    border-color: hsl(349, 71%, 52%);
}

/* step 1 interface */
.svg-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:
        translate(-50%, -50%) scale(300%);
}

.step-1 {
    position: relative;
    margin: 3% auto;
    max-width: 40%;
    display: grid;
    grid-template-columns: (2, 1fr);
}

.paper-pos {
    margin: auto;
    grid-column: 1;
    grid-row: 2;
}

.scissor-pos {
    margin: auto;
    grid-column: 2;
    grid-row: 2;
}

.rock-pos {
    margin: auto;
    grid-column: 1/3;
    grid-row: 3;
}

/* step 2 interface */

.who-picked {
    margin: auto;
    width: 55.5%;
    display: flex;
    justify-content: space-around;
}

.step-2 {
    margin: 3% auto;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}

/* step 3 interface */
.step-3 {
    margin: 3% auto;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-win-lose {
    text-align: center;
    transition: 200ms step-end;
}

.result-text {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
    color: hsl(214, 47%, 23%);
    background: #ffffff;
    padding: 1rem 4rem;
    font-size: 1rem;
}

.btn:hover {
    color: rgba(255, 34, 0, 0.66);
}

/* rule pop Up  */

.model {
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    opacity: 0;
    z-index: -1;
}

.model:hover {
    background-color: #fff;
}

.model.active {
    z-index: 10;
    opacity: 1;
}

#overlayer {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    transition: 200ms ease-in-out;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#overlayer.active {
    opacity: 1;
    cursor: pointer;
    z-index: 9;
}

#close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 8px;
    color: black;
}

/* footer section */

#rule {
    border: 1px solid rgba(255, 255, 255, 0.548);
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    font-size: 10px;
    padding: 5px 25px;
    right: 10%;
    bottom: 10%;
}

#rule:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 5px 27px;
}

.attribution {
    position: fixed;
    margin: auto;
    /* right: 10%; */
    bottom: 5%;
    font-size: 11px;
    text-align: center;
    transform: translateX(50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.disabled {
    display: none;
}

@media (max-width:1200px) {
    .score-board {
        max-width: 70%;
    }

    .step1 {
        max-width: 60%;
    }

    .step-2 {
        max-width: 70%;
    }

    .step-3 {
        max-width: 80%;
    }

    .circle-size-1 {
        width: 8rem;
        height: 8rem;
    }

    .circle-size-2 {
        width: 10rem;
        height: 10rem;
    }

    .dark-cir {
        width: 5rem;
        height: 5rem;
    }


    .btn {
        padding: 1rem 2rem;
    }
}

@media (max-width:550px) {
    .score-board {
        max-width: 90%;
    }

    .step-1 {
        max-width: 90%;
    }

    .step-2 {
        max-width: 90%;
    }

    img {
        width: 3rem;
    }

    .icon-img {
        position: absolute;
        left: 28%;
        top: 25%;
    }

    .icon-img-2 {
        position: absolute;
        left: 28%;
        top: 24%;
    }

    .step-3 {
        flex-wrap: wrap;
        max-width: 90%;
        gap: 20px;
    }

    .circle-size-1 {
        width: 7rem;
        height: 7rem;
    }

    .circle-size-2 {
        width: 7.5rem;
        height: 7.5rem;
    }

    .dark-cir {
        width: 5rem;
        height: 5rem;
    }

    #text-win-lose {
        margin: auto;
        order: 1;
    }

    .result-text {
        font-size: 3rem;

    }

    .btn {
        font-size: 1rem;
        color: hsl(214, 47%, 23%);
    }
}