.wrapper {
  width: 45%;
  margin: auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3%;
  margin: 1% 0;
  flex-wrap: wrap;
  align-content:space-between;
  gap: 0.5rem;
}

.key-box {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}
.green {
  background-color: #4dd24d;
}

.red {
  background-color: #f24a4a;
}

.yellow {
  background-color: #ffca35;
}

.big {
  font-size: 5rem;
}
